langgraph 
langgraph-sdk 
langgraph-checkpoint-sqlite 
langsmith 
langchain-community 
langchain-core 
langchain-openai 
tavily-python 
wikipedia 
trustcall 
langgraph-cli[inmem]
langchain_experimental
python-dotenv
ipython
faiss-cpu 
tiktoken 
google-search-results 
serpapi
sentence-transformers